.dropdown-menu {
  width: fit-content;
  background-color: white;
  top: 101px;
  list-style: none;
  text-align: left;
  height: 80%;
  left: 0;
  width: 100%;


}

.dropdown-menu li {
  background-color: white;
  cursor: pointer;
  padding: 20px;
  margin: 20px; 
  margin-bottom: -15px;
  /* margin-top: 5px; */
}




.dropdown-menu li:hover {
  cursor: pointer;
}

 .dropdown-menu.clicked {
    /* border-top: none; */
    background-color: white;
    padding: 30px 0px 255px 50px;
    height: 100%;  
} 

/* .dropdown-menu.clicked li {
  color: red;
} */

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  /* color: black; */
  padding: 16px;
}




li {
  font-weight: bold;
  display: block;
  text-align: left;

}

