/*Desktop View */
@media all and (min-width: 800px) {
  .logo-desktop {
    margin: 10px 0px 10px 15px;
    width: 115px;
    height: auto;
    /* position: fixed; */
  }

  .nav-item {
    display: inline-flex;
    /* margin-right: 10px; */
    padding: 20px;
  }

  .solutions-desktop:hover {
    color: red;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 3px;
  }


  .nav-links {
    /* right: 100px; */
    padding: 5px;
    text-decoration: none;
    color: black;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .search-desktop {
    position: fixed;
    right: 50px;
  }

  .navbar-desktop ul,
  .search-desktop {
    position: fixed;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }

  .search-desktop {
    margin-top: 27px;
    right: 10px;
    position: fixed;
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1px 0px;
    background-color: #CCCCCC;

  }

  h4 {
    color: black;
  }

    .background {
      width: 300vh;
      height: 100vh;
      background-color: #D0d0d0;


    }
 
}

/*Mobile*/
@media all and (max-width: 800px) {
  .navbar-desktop {
    display: none;
  }
}
