@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

h4 { 
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
}
